<div ng-controller="zyEditController as zyEditCtrl" class="container-fluid" >
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="text-danger">请注意：当前填报{{zyEditCtrl.batch.batchName}}，共可填报{{zyEditCtrl.batch.collegeNum}}个学校，每个学校填报{{zyEditCtrl.batch.majorNum}}个专业
            </h4>
        </div>

        <div class="panel-footer">
            <!-- 占位 -->
        </div>
    </div>
    <div  ng-repeat="wish in zyEditCtrl.realWishes">
    <div class="panel panel-primary" ng-controller="collegeSelectController as csCtrl">
        <div class="panel-heading">
            <h4>第{{wish[0]}}志愿</h4>
        </div>
        <table class="table" >
            <tr>
                <td width="15%"><h5>院校{{csCtrl.collegesForSelect.length}}</h5></td>
                <td width="30%">
                    <ui-select ng-model="csCtrl.collegeSelected" theme="bootstrap">
                        <ui-select-match placeholder="选择院校">{{$select.selected?('('+$select.selected.collegeCode+')'+$select.selected.collegeName):''}}</ui-select-match>
                        <ui-select-choices repeat="college in csCtrl.collegesForSelect | propsFilter: {name: $select.search}">
                            <div ng-bind-html="(college.collegeCode)+college.collegeName | highlight: $select.search"></div>
                        </ui-select-choices>
                        <ui-select-no-choice>
                            没有找到院校
                        </ui-select-no-choice>
                    </ui-select>
                </td>
                <td width="60%">
                    <span class="text-gray-darker text-md text-center">{{wish[1].collegeCode}}&nbsp;&nbsp;{{wish[1].collegeName}} </span>
                </td>
            </tr>
            <tr  ng-repeat="majorCode in wish[2] track by $index" ng-controller="majorSelectController as msCtrl">
                <td><h5>第{{$index}}专业</h5></td>
                <td>
                    <ui-select ng-model="msCtrl.majorSelected" theme="bootstrap" >
                        <ui-select-match placeholder="选择专业">{{$select.selected.majorName}}</ui-select-match>
                        <ui-select-choices repeat="major in msCtrl.majorsForSelect | propsFilter: {name: $select.search}">
                            <div ng-bind-html="(major.majorCode)+major.majorame | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </td>
            </tr>
        </table>
        </div>
        <div class="panel-footer">
            <!-- 占位 -->
        </div>
    </div>
    </div>
</div>